<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.min.css">
    <title>Listar Pessoas</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body class="fundo">
<div th:insert="~{fragmentos/header::header}"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="col">
                <h1 class="h1-alinhado-esquerda-border-bottom">Usuarios</h1>
            </div>
            <br>
            <form action="filtar-pessoa" method="post">

                <div class="row">
                    <div class="col-sm">
                        <label for="nome-pessoa-filtro">Nome</label>
                        <input type="text" class="form-control" id="nome-pessoa-filtro"
                               name="nome-pessoa-filtro">
                    </div>

                    <div class="col-sm">
                        <label for="cpf-pessoa-filtro">CPF</label>
                        <input type="text" class="form-control" id="cpf-pessoa-filtro"
                               name="cpf-pessoa-filtro">
                    </div>

                    <div class="col-sm">
                        <select class="custom-select select-margin-top2rem" id="perfil-filtro" name="perfil-filtro">
                            <option th:each="perfil:${perfis}" th:value="${perfil.perfil}"
                                    th:text="${{perfil.perfil}}"></option>
                        </select>
                    </div>

                    <div class="col-sm btn-group" role="group" aria-label="Basic example">
                        <button class="btn btn-light filtro-btn" type="submit" value="Filtrar" data-toggle="tooltip"
                                data-placement="top" title="Filtrar">
                            <i class="fas fa-search" data-toggle="tooltip" title="Filtrar"></i></button>

                        <a class="btn btn-danger filtro-btn" th:href="@{/pessoas/listar-pessoas}">
                            <i class="fas fa-hand-middle-finger" data-toggle="tooltip" data-placement="top"
                               title="Filtrar"></i>
                        </a>
                    </div>

                </div>

            </form>
            <br>
            <div class="card">
                <div class="card-body">
                    <table class="table-responsive-md table table-striped table-dark table-sm">
                        <thead class="estilo-cabecalho">
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">RG</th>
                            <th scope="col">CPF</th>
                            <th scope="col">Data de Nascimento</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Perfil</th>
                            <th scope="col">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="pessoa:${paginaPessoa.getContent()}" class="estilo-linha">
                            <th th:text="${pessoa.nome}"></th>
                            <td th:text="${pessoa.rg}"></td>
                            <td th:text="${pessoa.cpf}"></td>
                            <td th:text="${pessoa.dataNascimento}"></td>
                            <td th:text="${pessoa.email}"></td>
                            <td th:text="${pessoa.telefone}"></td>
                            <td th:text="${pessoa.perfil.perfil}"></td>
                            <td>
                                <a th:href="@{/pessoas/atualizar-pessoa/{cpf}(cpf=${pessoa.cpf})}">
                                    <i class="fas fa-pencil-alt icone-editar" data-toggle="tooltip" data-placement="top"
                                       title="Editar Usuário"></i></a>

                                <a href="javascript:void(0)" id="porra"
                                   type="button" th:onclick="deletar([[${pessoa.cpf}]], [[${pessoa.nome}]])">
                                    <i class="fas fa-times icone-excluir" data-toggle="tooltip" data-placement="top"
                                       title="Deletar Usuário"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div>
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>

                    <li class="page-item" th:each="numeroPagina : ${numeroDePaginas}">
                        <a  th:href="@{/pessoas/listar-pessoas(tamanho-pagina=${paginaPessoa.size},
                        pagina=${numeroPagina})}" th:text="${numeroPagina}"
                           class="page-link"></a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm">
            <a th:href="@{/pessoas/inserir-pessoa}" class="btn btn-light large">Novo Usuário</a>
        </div>
    </div>
</div>
<script>
    $(":input").inputmask();
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>
<script th:inline="javascript" th:src="@{/js/pessoa/pessoa.js}">
</script>
</body>
</html>