.fundo {
    background-color: #2e2a2e;
}

label {
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
    color: #cfcfcf;
}

input {
    background-color: #e24242;
}

.large{
    width: 100%;
    margin-top: 2rem;
    padding: 2rem;
}

button .btn .large {

}