.fundo {
    background-color: #2e2a2e;
    font-size: 0.9em;
}

label {
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
    color: #cfcfcf;
}

.form-control{
    background-color: #343a40;
    color: #ffffff;
    border: 1px solid #191919;
}

.card {
    margin-top: 1rem;
    background-color: #343a40;
    border: none;
}

.card-body {
    border: 1px solid;
    padding: 0.5rem;
    line-height: unset;
}

.form-control:focus{
    background-color: #42474c;
    color: #ffffff;
}

.custom-select {
    background-color: #343a40;
    border: 1px solid #191919;
}

.large{
    width: 100%;
    margin-top: 2rem;
}

.filtro-btn{
    width: 50%;
    margin-top: 2rem;
}

.thead {
    font-style: unset;
    font-weight: unset;
}

.btn-light {
    background-color: #4bb85e;
    border: 2px solid #0caa18;
}

.btn-light:hover {
    background-color: #0caa18;
    border: 2px solid #0caa18;
}

.btn-danger {
    background-color: #ef8a41;
    border: 2px solid #dc7525;
}

h1 {
    margin-top: 2rem;
    color: #cfcfcf;
}

.h1-alinhado-esquerda-border-bottom {
    text-align: left;
    border-bottom: 1px solid #cfcfcf;
}


/*TABELAS*/
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #343a40;
}

.icone-editar {
    font-size: 1.1rem;
    padding-left: 0.2rem;
    color: #4bb85e;
}

.icone-excluir {
    font-size: 1.2rem;
    padding-left: 0.2rem;
    padding-top: 0.1rem;
    color: #ff5f5f;
}

.fa .fas .card-body {
   font-size: 10px;
}

.table {
    margin: unset;
}

.estilo-cabecalho {
    background-color: #cfcfcf;
    color: #2e2a2e;
}

.estilo-linha {
    background-color: #2e2a2e;
}

/*SELECT FUNÇÕES*/
.select-margin-top2rem{
    margin-top: 2rem;
}